CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

libgenerator.so
generated.png
generated.txt
generator_test
generator_test_light
generator_test_vec
generator_bulk
learner
detector
tags

example_cifar_test
example_cifar_train
example_deconv_train
example_mnist_test
example_mnist_train

trained.weights
trained.weights.onesymbol.unexpected
*.png
*.swp
*.dylib
*.gz
